* {
    padding: 0;
    margin: 0;

}

table {
    border-collapse: collapse;
}

.center-table {
    margin: 20px auto;
}

    td {
        border: 1px solid black;
        width: 100px;
        height: 100px;
        position: relative;
        filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, .4));
    }

    td.playerX::after {
        content: '';
        width: 10px;
        display: block;
        height: 100%;
        position: relative;
        transform: translateX(45px) rotate(-45deg);
        border-radius: 10px;
        background: red;
    }

    td.playerX::before {
        content: '';
        width: 10px;
        display: block;
        position: absolute;
        height: 100%;
        transform: translateX(45px) rotate(45deg);
        border-radius: 10px;
        background: red;
    }

    td.player0::after {
        box-sizing: border-box;
        content: '';
        width: 80%;
        display: block;
        border: 10px solid green;
        height: 80%;
        transform: translateX(calc(10% + 5px));
        border-radius: 50%;
    }
